
html, body {
    /* vh = viewport height / window height */
    min-height: 100vh;
}
body {
    background-color: rgb(71, 71, 187);
    display: grid;
    grid-template-rows: auto 1fr auto ;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

img { 
    transform: rotate(10deg); 
    } 
    .logo {
        width: 100px;
        height:100px;
        transition: transform 1s;
    }
    .logo:hover{
        transform:rotate(-10deg)

    }
.main-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #7ac0bf;

}
.main-header h1 {
    margin: 0;
}
.main-navigation{
    justify-self: end;
    align-self: end;
    display: flex;
    font-family:  'Barlow', sans-serif;
}
.main-navigation a {
    color: #ffffff;
    display: block;
    padding: 12px
    text-decoration: none;
}
/* : hover is pseudo class */
.main-navigation a:hover{
    background-color: #a7b2e8;
}
.content{
    margin: auto 20px;

}
.banner{
    min-height: 50vh;
    background-color: #a3c9a7;
    display: grid;
    place-items: center;
    background-image: url('image/daria-shatova-46TvM-BVrRI-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.banner h1{
    font-size: 4em;
    color:white;
    text-shadow: black -8px -5px 2px;
    background-color:rgba(0,0,0,0.5);
    padding: 5px;

}

.main-footer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;

}

.copyright {
    grid-column-start: 1;
    grid-row-start: 2;
}

.social-nav{
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: end;
}
.social-nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    padding: 10px;
}
.social-nav a:hover{
    color: white;
}